<!DOCTYPE html>
<html>
  <head>
    <title>Metric/Imperial Converter</title>
    <meta
      name="description"
      content="An example of the Free Code Camp Metric/Imperial Converter Project"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- FAVICONS -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/public/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/public/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/public/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="/public/site.webmanifest" />

    <!-- STYLES -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="./public/style.css" />
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href=".">Metric/Imperial Converter</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link active"
                href="https://plcoster.github.io/homepage/"
              >
                Home
              </a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                FreeCodeCamp QA Projects
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li>
                  <a
                    class="dropdown-item"
                    href="https://fcc-qa-project1.plcoster.repl.co"
                  >
                    Metric - Imperial Converter
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="https://fcc-qa-project2.plcoster.repl.co"
                  >
                    Issue Tracker
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="https://fcc-qa-project3.plcoster.repl.co"
                  >
                    Personal Library
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="https://fcc-qa-project4.plcoster.repl.co"
                  >
                    Sudoku Solver
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="https://fcc-qa-project5.plcoster.repl.co"
                  >
                    American British Translator
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://plcoster.github.io/homepage/projects.html"
              >
                All Projects
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/PLCoster">
                <i class="fab fa-github"></i> Github
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://linkedin.com/in/plcoster">
                <i class="fab fa-linkedin"></i>
                LinkedIn
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <main>
        <h1>
          <img
            class="logo"
            src="/public/logo.png"
            alt="White text showing swapping between kilograms and pounds on a square green background"
          />Metric/Imperial Converter
        </h1>

        <hr />

        <section>
          <div
            id="testui"
            class="d-flex flex-row justify-content-center flex-wrap"
          >
            <form id="convertForm">
              <h3>Convert Units</h3>
              <p><code>GET /api/convert?input=&lt;INPUT&gt;</code></p>
              <input
                type="number"
                step="any"
                id="convert-number"
                class="form-control"
                name="input"
                placeholder="100"
              />
              <select id="convert-unit" class="form-select">
                <option value="kg">kilograms to pounds</option>
                <option value="lbs">pounds to kilograms</option>
                <option value="L">liters to gallons</option>
                <option value="gal">gallons to litres</option>
                <option value="km">kilometers to miles</option>
                <option value="mi">miles to kilometers</option>
              </select>
              <input
                id="convert"
                class="btn btn-success"
                type="submit"
                value="Convert!"
              />
            </form>
            <div id="result-display">
              <p>Result:</p>
              <code id="result" class="block"
                >Convert something to see result!</code
              >
              <p>Response Body:</p>
              <code id="jsonResult" class="block"
                >Convert something to see the response body!</code
              >
            </div>
          </div>
        </section>

        <hr />

        <section>
          <h3>Example Usage:</h3>

          <h5>To Convert Units:</h5>
          <ul class="usage-list">
            <li>
              Submit a value with a selected conversion using the 'Convert
              Units' form above.
            </li>
            <li>
              Alternatively, send a GET request to
              <code>/api/convert?input=&lt;INPUT&gt;</code> with a valid input
              consisting of:
              <ul>
                <li>
                  A number (integer, decimal or fraction), e.g "10", "15.2" or
                  "12.5/4.2"
                  <br />
                  If no number is specified, number defaults to 1.
                </li>
                <li>
                  A unit from the following conversion pairs:
                  <ul>
                    <li>"kg" ⇄ "lbs"</li>
                    <li>"km" ⇄ "mi"</li>
                    <li>"gal" ⇄ "L"</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>For example:</li>
            <ul>
              <li>
                Convert 10L into gallons:
                <a href="/api/convert?input=10L">/api/convert?input=10L</a>
              </li>
              <li>
                Convert 2/3 of a mile into kilometers:
                <a href="/api/convert?input=2/3mi">/api/convert?input=2/3mi</a>
              </li>
              <li>
                Convert 2.5/4 pounds into kg:
                <a href="/api/convert?input=2.5/4lbs"
                  >/api/convert?input=2.5/4lbs</a
                >
              </li>
              <li>
                Convert 1 kg to pounds:
                <a href="/api/convert?input=kg">/api/convert?input=kg</a>
              </li>
            </ul>
          </ul>

          <h3>Example Output:</h3>
          <p>
            After requesting a conversion with a valid input, conversion info
            will be returned in JSON format, with the following form:
          </p>

          <code class="block">
            {
            <ul class="indent">
              <li>"initNum": 10,</li>
              <li>"initUnit": "L",</li>
              <li>"returnNum": 2.64172,</li>
              <li>"returnUnit": "gal",</li>
              <li>"string": "10 liters converts to 2.64172 gallons",</li>
            </ul>
            }
          </code>

          <p>
            If an invalid input is sent, one of the following error strings will
            be returned:
          </p>

          <code class="block">
            "invalid number" # e.g. input=3/2/3km
            <br />
            "invalid unit" # e.g. input=3kilomegagrams
            <br />
            "invalid number and unit" # e.g. input=3/2/3kilomegagrams
          </code>
        </section>
      </main>

      <footer>
        <p>
          A project set by
          <a href="https://www.freecodecamp.org/">freeCodeCamp</a>
        </p>
      </footer>
    </div>

    <!-- Your web-app is https, so your scripts need to be too -->
    <!-- Bootstrap Script -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>

    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-2.2.1.min.js"
      integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
      crossorigin="anonymous"
    ></script>

    <!-- Custom Form Submit Script -->
    <script>
      $(function () {
        $('#convertForm').submit(function (event) {
          event.preventDefault();
          const number = $('#convert-number').val();
          const unit = $('#convert-unit').val();
          console.log(`input=${number}${unit}`);
          console.log($('#convertForm').serialize());
          $.ajax({
            url: '/api/convert',
            type: 'get',
            data: `input=${number}${unit}`,
            success: function (data) {
              $('#result').text(data.string || data);
              $('#jsonResult').html(
                `{<ul class="indent">${JSON.stringify(data)
                  .split(/,|{|}/)
                  .filter((str) => str !== '')
                  .map((objEntry) => `<li>${objEntry},</li>`)
                  .join('')}</ul>}`,
              );
            },
          });
        });
      });
    </script>
  </body>
</html>
